{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container-fluid text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#openModal">
    Create Account
    </button>
    <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Create Object</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'create_account' %}" method="post" class="form">
                    <div class="modal-body">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <table id="accounts_table" class="table table-hover">
            <thead>
                <tr class="table-primary text-center">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Balance</th>
                    <th>Last Transaction</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.name }}</td>
                        <td>{{ account.get_category_display }}</td>
                        <td>{{ account.balance }}</td>
                        <td>{{ account.last_transaction }}</td>
                        <td>
                            <a href="/details/{{ account.id }}" class="btn btn-primary">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
    $(document).ready(function() {
        $('#accounts_table').DataTable({
                "language": {
                  "search": "Search for word:"
                }
            });
    })
    </script>
{% endblock %}
